<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018508576982-raaoar0j73k27fg7jthoucn3tqdc9263.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018508576982-raaoar0j73k27fg7jthoucn3tqdc9263</string>
	<key>API_KEY</key>
	<string>AIzaSyBZCU-9ld_ZSKpPiLwcrKkaoDIaFAHYQ3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1018508576982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventree</string>
	<key>PROJECT_ID</key>
	<string>inventree-d2560</string>
	<key>STORAGE_BUCKET</key>
	<string>inventree-d2560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018508576982:ios:c045b3bf5b7675cd0a6177</string>
</dict>
</plist>